{% extends 'base.html' %}

<!DOCTYPE html>
{% block content %}
<html>
    <head>
        <meta charset="utf-8">
        <h1 style="text-align: center;">Welcome To Kaizen Website</h1>
<p style="text-align: center;">This Website Helps You To Find
    Your Recommended Article & Especially Your Recommended Author/s.</p>
</form>
        <meta name="viewport" content="width=device-width", initial-scale="2.0">
        <link rel="stylesheet" href="home.css">
        <title>Kaizen-App</title>
    </head>
<body>
   
    </div>

</body>
</html>

{% endblock %}
