{% extends 'base.html' %}

{% block content %}
<h1 style="text-align: center;">Welcome To Kaizen Website</h1>
<p style="text-align: center;">Authors Information Settings</p>
<form class="site-form" action="{% url 'profiles' %}" method="get">
    {% csrf_token %} 
    {{ form }}
    <div class="container">
        <label>
            Name
        </label>
        <input type="text" placeholder="Your Full Name"/>
        <br></br>

        <label>
            Email
        </label>
        <input type="text" placeholder="Email Address"/>
        <br></br>

        <label>
            School
        </label>
        <input type="text" placeholder="School"/>
        <br></br>

        <label>
            Department
        </label>
        <input type="text" placeholder="Department"/>
        <br></br>

    
    {% if request.GET.next %}
    <input type="hideen" name="next" value="{{request.GET.next}}">
    {% endif %}
    <input type="submit" value="Save">
</form>
{% endblock %}

