<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width", initial-scale="2.0">
    <link rel="stylesheet" href="/static/login2.css">
</head>

<h1>Login</h1>

<br/><br/>

        <form action="" method=POST>
            {% csrf_token %}
        
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="text" class="form-control" name="mail" aria-describedby="emailHelp">
                </div>

                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" name="password">
                </div> 

                <button class="btn btn-outline-secondary" type="submit">Login</button>
        </form>

<br/><br/>
{% endblock %}

