<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale="2.0">
        <link rel="stylesheet" href="/static/Homepage.css">
</head>
<body>

    <div class="nav">
        <div class="column-left">
            <h1 style="text-align: center;">Welcome To Kaizen Website</h1>
            <p style="text-align: center;">This Website Helps You To Find
            Your Recommended Article & Especially Your Recommended Author/s.</p>
        </div>
    </div>

    
<div class="container">
    <input type="text" style="align-items: center;" placeholder="Search/Choose Faculty Member/Article Topic Keyword" list="input">
    <button type="button" button style="margin: 50px;" onkeyup="myFunction()" style="align-items: center" autocomplete="off";>Search</button>
</body>
</html>